@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(to left, #4e54c8, #8f94fb);
    width: 1000px;
    margin: 0 auto;
}

img{
	height:55px;
	width:55px;
	border-radius: 50px;
	transition: all 0.2s linear;
}

.imgwrapper{
    position: relative;
    left: 230px;
    display: inline;
    justify-items: center;
}
img:hover{
    border-radius: 5px;
}

.wrapper{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 8px;
}
.box{
    display: grid;
    justify-content: center;
    border:1px solid;
    border-radius: 15px;
    background-color: rgba(100, 100, 255, 0.9);
    padding: 15px;
    width: 50%;
    position: relative;
    left: 220px;
    transition: 0.1s ease-out;
}
.box:hover {
    box-shadow: 0 0 10px 5px rgba(0, 140, 186, 1);
}

a{
    text-decoration: none;
    color:white;
}
h1{
    text-align: center;
}

